body{
    background-color: rgb(233, 206, 169);
}



.product_container a{
    color: #000;
    text-decoration: none;
}





.cavesera{
    margin-top: 100px;
}



.logo_cavesera{
    margin-top: 25px;
}


.body_content{
    display: flex;
    flex-wrap: wrap;
}






.product_container{
    margin-left: 20px;
    margin: 15px;
    margin-top: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    margin-top: 120px;
    
}

.product_container:hover{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}


.buton-add{
    border:2px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: 0.4s;
    color: black;
    border-radius: 2px;
    font-family: Bahnschrift;
    background-color: rgb(233, 206, 169);
}

.buton-add:hover{
    background-color: #4caf50;
    color: white;
}


.product_container img{
    width: 200px;
}
.img2{
    height: 200px;
}
.img3{
    height: 200px;
}
.img4{
    height: 200px;
}






/* Menu cavesera */
.menu_cavesera{
    margin-top: -110px;
}

.cavesera{
    height: 110px;
}


.nav{
    font-size: 23px;
}


.nav .enlase_1{
    margin-left: -180px;
}

.u {
    margin-top: -25px;
    margin-left: 230px;
}





@media all and (max-width: 1080px){
    .product_container img{
        width: 400px;
    }
    .img2{
        height: 400px;
    }
    .img3{
        height: 400px;
    }
    .img4{
        height: 400px;
    }


    .product_container{
        font-size: 40px;
        margin-top: 120px;
    }
}



