body{
/*    background: linear-gradient(to bottom, #00c3ff, #00FFFF, #339cc2);*/
    background-image: url("../bakground/bg.jpg");
    font-family:"TT Commons Light";

    align-items: center;
    overflow: hidden;
}


@font-face {
    font-family: TT Commons Light;
    src: url("../fonts/TT\ Commons\ Light.otf");
}

/*generales description sky & description wind*/
.description_div{
    color: #fff;
}



/*
.description_sky{
    margin-left: 38%;
    margin-top: 35px;
}
*/



/*data general del tiempo*/

.weather_general_data{
    position:absolute;
    color: #fff;
    font-family: "TT Commons Light";
    padding: 0%;
    margin-top: 100.6%;
    margin-left: 2%;
    margin-bottom: 0%;
    width: 330.7px;
    height: 140px;
}

    /*descripcion del viento*/
.description_wind{
    position: absolute;
    display: inline-block;
    font-weight: 10;
    margin-top: 17.5%;
    margin-left: 23px;
    font-size: 23px;
    letter-spacing: 3px;
}

    /*descripcion del cielo*/
.description_sky{
    position: absolute;
    display:inline-block;
    margin-top: 5%;
    font-weight: 10;
    font-size: 40px;
    letter-spacing: 3px;
}


.sky_img{
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    width: 50px;
    margin-left: 40.5%;
}






/*temperatura*/
.temp{
    position: absolute;
    display: inline-block;
    margin-left: 54%;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 100px;
}

.temp_img{
    position: absolute;
    display: inline-block;
    width: 100px;
    margin-top: 27px;
    margin-left: 72%;
}



/*detalles del clima*/

.weather_ditails{
    position: absolute;
    display: inline-block;
    height: 30px;
    margin-top: 27%;
    font-size: 25px;
    width: 50%;
}

.wind_speed{

    margin-left: 10px;
}


.humiditi_value{
    margin-left: 30px;
}


.humidity_img{
    display: inline-block;
    position:absolute;
    width: 30px;
}










