body{
/*    background: linear-gradient(to bottom, #00c3ff, #00FFFF, #339cc2);*/
    background-image: url("../bakground/bg.jpg");
    font-family:"TT Commons Light";

    align-items: center;
    /*data*/
    color: #fff;
    font-family: "TT Commons Light";

}


@font-face {
    font-family: TT Commons Light;
    src: url("../fonts/TT\ Commons\ Light.otf");
}




/*generales description sky & description wind*/
.wind_div{
    display: inline-block;
    position: absolute;
    margin-top: 10%;
}

.description_div{
    color: #fff;
}


    /*descripcion del viento*/
.description_wind{
    position: absolute;
    display: inline-block;
    font-weight: 10;
    margin-top: 17.5%;
    margin-left: 23px;
    font-size: 23px;
    letter-spacing: 3px;
}

    /*descripcion del cielo*/

.sky_div{
    display: inline-block;
    position: absolute;
    margin-top: 3%;
    margin-left: 0%;
    width: 120px;
}


.description_sky{
    position: absolute;
    display:inline-block;
    margin-top: 5%;
    font-weight: 10;
    font-size: 40px;
    letter-spacing: 3px;
}


.sky_img{
    display: inline-block;
    position: absolute;
    margin-top: 10%;
    width: 50px;
    margin-left: 120%;
}






/*temperatura*/

.temp_div{
    display: inline-block;
    position: absolute;
    width: 175px;
    height: 155px;
    margin-top: 25%;
    margin-left: 160px;
}

.temp{
    position: absolute;
    display: inline-block;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0px;
    font-size: 120px;
}

.temp_img{
    position: absolute;
    display: inline-block;
    width: 100px;
    margin-top: 15%;
    margin-left: 52%;
}



/*detalles del clima*/

.weather_ditails{
    position: absolute;
    display: inline-block;
    height: 70px;
    margin-left: 0%;
    margin-top: 35%;
    font-size: 25px;
    width: 50%;
}

.wind_speed{
    margin-left: 10px;
}


.humiditi_value{
    margin-left: 30px;
}


.humidity_img{
    display: inline-block;
    position:absolute;
    width: 30px;
}


.precipitate{
    display: inline-block;
    position: absolute;
    margin-top: 20%;
    margin-left: -50%;
}

.precipitate_img{
    display: inline-block;
    position:absolute;
    width: 30px;
    margin-top: 20%;
    margin-left: -67%;
}











