/**card 1**/

#fecha_card1{
    display: inline-block;
    position: absolute;
    margin-top: 94%;
    margin-left: 20px;
}

.img_card{
    display: inline-block;
    position:absolute;
    width: 60px;
    margin-top: -18px;
    margin-left: -20px;
}


.card1{
    display: inline-block;
    position: absolute;
    background-color: oldlace;
    width: 95%;
    height: 40px;
    margin-top: 100%;
    color: black;
}


.temp_card{
    display: inline-block;
    position: absolute;
    margin-left: 70px;
    margin-top: 15px;

}

.humidity_card{
    display: inline-block;
    position: absolute;
    margin-left: 145px;
    margin-top: 15px;
}

.change_card{
    display: inline-block;
    position: absolute;
    margin-left: 240px;
    margin-top: 15px;
}



/**car 2**/
#fecha_card2{
    display: inline-block;
    position: absolute;
    margin-top: 114%;
    margin-left: 20px;
}
.img_card{
    display: inline-block;
    position:absolute;
    width: 80px;
    margin-top: -18px;
    margin-left: -20px;
}


.card2{
    display: inline-block;
    position: absolute;
    background-color: oldlace;
    width: 95%;
    height: 40px;
    margin-top: 120%;
    color: black;
}


.temp_card{
    display: inline-block;
    position: absolute;
    margin-left: 70px;
    margin-top: 15px;

}

.humidity_card{
    display: inline-block;
    position: absolute;
    margin-left: 145px;
    margin-top: 15px;
}

.change_card{
    display: inline-block;
    position: absolute;
    margin-left: 240px;
    margin-top: 15px;
}



/**card 3**/
#fecha_card3{
    display: inline-block;
    position: absolute;
    margin-top: 134%;
    margin-left: 20px;
}
.img_card{
    display: inline-block;
    position:absolute;
    width: 80px;
    margin-top: -18px;
    margin-left: -20px;
}


.card3{
    display: inline-block;
    position: absolute;
    background-color: oldlace;
    width: 95%;
    height: 40px;
    margin-top: 140%;
    color: black;
}


.temp_card{
    display: inline-block;
    position: absolute;
    margin-left: 70px;
    margin-top: 15px;

}

.humidity_card{
    display: inline-block;
    position: absolute;
    margin-left: 145px;
    margin-top: 15px;
}

.change_card{
    display: inline-block;
    position: absolute;
    margin-left: 240px;
    margin-top: 15px;
}