/**Pronostico Container**/
.pronostico_container{
    margin-top: -5%;
}


.pronostico_container h2{
    display: inline-block;
    position: absolute;
    margin-top: 83%;
}



/**card 1**/
#fecha_card1{
    display: inline-block;
    position: absolute;
    margin-top: 94%;
    margin-left: 18%;
}

.img_card{
    display: inline-block;
    position:absolute;
    width: 60px;
    margin-top: -18px;
    margin-left: -20px;
}


.card1{
    display: inline-block;
    position: absolute;
    background-color: oldlace;
    width: 95%;
    height: 33px;
    margin-top: 100%;
    color: black;
}


.temp_card{
    display: inline-block;
    position: absolute;
    margin-left: 70px;
    margin-top: 5px;

}

.humidity_card{
    display: inline-block;
    position: absolute;
    margin-left: 145px;
    margin-top: 5px;
}

.change_card{
    display: inline-block;
    position: absolute;
    margin-left: 240px;
    margin-top: 5px;
}



/**car 2**/
#fecha_card2{
    display: inline-block;
    position: absolute;
    margin-top: 110%;
    margin-left: 18%;
}



.card2{
    display: inline-block;
    position: absolute;
    background-color: oldlace;
    width: 95%;
    height: 30px;
    margin-top: 115%;
    color: black;
}

/**card 3**/
#fecha_card3{
    display: inline-block;
    position: absolute;
    margin-top: 124%;
    margin-left: 18%;
}


.card3{
    display: inline-block;
    position: absolute;
    background-color: oldlace;
    width: 95%;
    height: 30px;
    margin-top: 130%;
    color: black;
}



/**card 4**/
#fecha_card4{
    display: inline-block;
    position: absolute;
    margin-top: 139%;
    margin-left: 18%;
}

.card4{
    display: inline-block;
    position: absolute;
    background-color: oldlace;
    width: 95%;
    height: 30px;
    margin-top: 145%;
    color: black;
}



/**card 5**/
#fecha_card5{
    display: inline-block;
    position: absolute;
    margin-top: 154%;
    margin-left: 18%;
}


.card5{
    display: inline-block;
    position: absolute;
    background-color: oldlace;
    width: 95%;
    height: 30px;
    margin-top: 160%;
    color: black;
}

