.pronostico_container{
    width: 95%;
}



/**card 1**/
.fecha_c{
    display: block;
    position: relative;
    margin-top: 12%;
    margin-left: 18%;
}

.img_card{
    display: inline-block;
    position: absolute;
    margin-top: -0.7%;
    width: 10%;
    margin-left: 0%;
}


.card{
    display: block;
    position: absolute;
    background-color: oldlace;
    width: 100%;
    height: 33px;
    margin-top: -6%;
    color: black;
}


.temp_card{
    display: inline-block;
    position: absolute;
    margin-left: 70px;
    margin-top: 5px;

}

.humidity_card{
    display: inline-block;
    position: absolute;
    margin-left: 145px;
    margin-top: 5px;
}

.change_card{
    display: inline-block;
    position: absolute;
    margin-left: 240px;
    margin-top: 5px;
}








