<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Expo tecno arte 2022</title>

    <link rel="stylesheet" href="../../static/css/MA/index.css" />
    <link rel="stylesheet" href="../../static/css/queris/queris.css" />
    <link rel="stylesheet" href="../../static/css/nav/nav.css" />
  </head>
  <body>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>

    <!--Nav var-->
    <nav>
      <h1>Expo tec</h1>
      <a href="/ExpoPage">Inicio</a>
      <a href="/ExpoPage/#2">Datos</a>
      <a href="#">creditos</a>
    </nav>
    <!----------->

    <div class="baner">
      <h2>Tecnologia y Automatizacion Orientada al cuidado de las Especies</h2>
    </div>

    <div class="content">
      <h2>Tecnologia al Cuidado de la Biodiversidad</h2>
      <p>
        La biodiversidad del planeta está amenazada y el principal culpable es
        aquel que, paradójicamente, más depende de ella: el ser humano. Frenar
        la pérdida de biodiversidad, entendida como la disminución o
        desaparición de la variedad de seres vivos que habitan el planeta, es
        uno de los grandes retos de la humanidad. A continuación hablaremos de
        un proyecto que ya se puso en practica, y que esta ayudando mucho a sus
        creadores en el trabajo de controlar y monitorear todas las especies de
        animales y plantas para facilitar su conservación.
      </p>
      <img src="../../static/img/slothbotUse.jpg" alt="" class="img1" />
      <p>
        Inspirado en los perezosos reales, SlothBot es un robot que se cuelga de
        los árboles con cámaras incorporadas y que vigilará la conservación de
        especies animales y plantas que tengan especial valor. Este robot está
        alimentado gracias a unos paneles solares y utiliza una tecnología
        innovadora de administración de energía para que pueda estar multitud de
        horas monitoreando desde los árboles.
      </p>
      <p>
        SlothBot se mueve a través de un largo cable que está distribuido entre
        los distintos árboles mientras no solo monitorea expresamente a las
        especies de animales y plantas, sino también tiene en cuenta la
        temperatura, el clima, los niveles de dióxido de carbono y otra
        información del bosque.
      </p>
      <iframe
        width="680"
        height="435"
        src="https://www.youtube.com/embed/foiRTJnc-vA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      <p>
        Sus creadores señalan que “no es así como se diseñan los robots en la
        actualidad, pero siendo lento y eficiente en el uso de la energía le
        permitirá a SlothBot detenerse en el medio ambiente para observar cosas
        que solo podemos ver estando presentes continuamente durante meses o
        incluso años”, afirma Magnus Egerstedt, profesor y presidente de la
        Escuela de Ingeniería Eléctrica e Informática del Instituto de
        Tecnología de Georgia.
      </p>
      <p>
        La carcasa del robot está impresa en 3D y existe para proteger todos los
        motores, engranajes, baterías y equipo interior de ese clima húmedo y
        caluroso de este tipo de parques. Lo curioso es que este robot solo se
        mueve cuando es estrictamente necesario y es capaz siempre de localizar
        luz solar para ir cargando de manera paulatina sus baterías.
      </p>
      <p>
        Esta versión del SlothBot se está probando actualmente en el jardín
        botánico de Atlanta y existe a través de un solo cable, pero sus
        creadores sostienen que están trabajando para que el robot también pueda
        moverse entre varios cables y así abarcar más terreno.
      </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  </body>
</html>
