
footer{
    background-color:rgb(86, 69, 47);
    height: 300px;
    margin-top: 110px;
}


.logo_fran{
    width: 20%;
    margin-left: 8%;
    margin-top: 50px;
}

.LF{
    color:aqua;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    margin-top: -70px;
    margin-left: 280px;
}



.logo_fother{
    width: 17%;
    margin-left: 60%;
    margin-top: -125px;
}




.instagram i{
    font-size: 30px;
    color: #fff;
    width: 25px;
    margin-left: 840px;
    padding-left: 5px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 8px;
    border-radius: 50px;
}


@media all and (max-width:414px){
    .logo_fran{
        width: 55%;
        margin-left: 20%;
        margin-top: 1%;
    }
    
    .LF{
        font-size: 20px;
        color: transparent;
        margin-top: -70px;
        margin-left: -280px;
    }
    
    
    
    .logo_fother{
        width: 55%;
        margin-left: 20%;
        margin-top: 5%;
    }
    
    
    
    
    .instagram i{
        font-size: 25px;
        color: #fff;
        width: 25px;
        margin-left: 25%;
        margin-top: 10%;
    }   
}

