.SlideShow{
    margin-top: 100px;
    width: 70%;
}


.titulos{
    color: rgb(59, 45, 27);
    margin-left: -500px;
    margin-top: 50px;
}


.nos_dedicamos{
    margin-top: 450px;
}

.nos_dedicamos .ar1{
    width: 160px;
    margin-top: -60px;
    margin-left:-160px;
    box-shadow:  rgb(146, 120, 86) 10px 10px 10px 0px;
}

.nos_dedicamos .ar1{
    transition: 0.80s;
}


.nos_dedicamos .ar1:hover{
    width: 250px;
    margin-left: -210;
}




.nos_dedicamos a .ar2{
    display: block;
    width: 270px;
    margin-top: -300px;
    margin-left: 40px;
    box-shadow:  rgb(146, 120, 86) 10px 10px 10px 0px;
}
.nos_dedicamos a .ar2{
    transition: 0.80s;
}

.nos_dedicamos a .ar2:hover{
    width:a 400px;
    box-shadow:  rgb(146, 120, 86) 10px 10px 10px 0px;
}


.algunas_tag{
    margin-top: -40;
}



.tag_1{
    margin-top: 90px;
}

.SlideShow img{
    margin-left: 0px;
    width: 30%;
}

.SlideShow img:hover{
    box-shadow:#000 0px 10px 10px -3px;
}


.SlideShow .img_s{
    background-color:rgb(146, 120, 86);
}


.img_s .img :active{
    width: 1000px;

}



.tag_1 h2{
    margin-top: -130px;
    font-size: 25px;
    margin-left: 300px;
    color: #fff;
}




.algunas_de_nuestras{
    color: #000;
}




.nos_dedicamos h2{
    margin-left: 110px;
    margin-top: -15px;
}


.nos_dedicamos .hh3{
    margin-left: 40px;
    margin-top: -15px;
}









@media all and (max-width:360px){
    .nos_dedicamos .ar1{
        background-color: transparent;
        width: 1px;
        margin-top: -100px;
        margin-left: -160px;
        box-shadow:transparent;
    }


    .nos_dedicamos a .ar2{
        width: 270px;
        margin-top: 00px;
        margin-left: 40px;
        box-shadow:  rgb(146, 120, 86) 10px 10px 10px 0px;
    }

    .nos_dedicamos a .ar2{
        transition: 0.80s;
    }
    
    .nos_dedicamos a .ar2:active{
        width: 340px;
        margin-left: 0px;
        box-shadow:  rgb(146, 120, 86) 10px 10px 10px 0px;
    }

    .titulos{
        margin-left: 10px;
        margin-top: -340px;
    }

}




