<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Expo tecno arte 2022</title>

    <link rel="stylesheet" href="../../static/css/LO/LO.css" />
    <link rel="stylesheet" href="../../static/css/nav/nav.css" />
    <link rel="stylesheet" href="../../static/css/queris/queris.css" />
  </head>
  <body>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>

    <!--Nav var-->
    <nav>
      <h1>Expo tec</h1>
      <a href="/ExpoPage">Inicio</a>
      <a href="/ExpoPage/#2">Datos</a>
      <a href="/ExpoPage/templates/CREDITS/">creditos</a>
    </nav>
    <!----------->

    <div class="baner">
      <h2>Proyectos que podrian limpiar el oceano</h2>
    </div>

    <div class="content">
      <h2>La Idea de un Joven Comprometido</h2>
      <p>
        En 2011, Boyan Slat, un joven neerlandés de origen croata, tras
        sumergirse con 14 años en las aguas cristalinas de Grecia y comprobar la
        cantidad de plásticos que inundaban la zona, comenzó a maquinar cómo
        solucionarlo, ya que esta alma inquieta ha creado proyectos de
        ingeniería y construcción prácticamente desde que nació.
      </p>
      <p>
        De hecho, con 14 años consiguió lanzar 213 cohetes de agua a la vez,
        logrando un récord Guinness. En el instituto, con 16 años, se centró en
        investigar para un trabajo de clase la contaminación del plástico en los
        mares y la dificultad existente para erradicarla. Ideó un sistema pasivo
        que utilizase las corrientes marinas. De hecho, Slat presentó este
        proyecto en una charla TED en 2012 en Delft. Desde entonces, continúa
        sus investigaciones y se dedica a perfeccionar su idea originaria.
      </p>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/ROW9F-c0kIQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p>
        Aunque en un principio Boyan se matriculó en la Universidad Técnica de
        Delft en 2012, abandonó sus estudios con 19 años para perseguir su
        sueño: limpiar los océanos de plástico.
      </p>
      <p>
        Su idea consiste en utilizar un sistema en que utilice las corrientes
        marinas a su favor. A través de unas barreras flotantes de unos 600
        metros de largo y una falda cónica de tres metros de profundidad,
        situada debajo y que retiene los residuos, se aprovechan las energías
        que existen a tres alturas: el viento, las olas y las corrientes marinas
        para ser arrastradas.
      </p>
      <p>
        Este dispositivo tiene forma de “U”, lo que provoca que los desechos de
        cualquier tamaño (desde milímetros hasta varios metros), que se
        trasladan más lentamente por el agua por este anclaje (ésta es la
        clave), se acumulen en el centro del sistema.
      </p>
      <h2>
        “La combinación de fuerzas naturales y un ancla de mar crea un arrastre,
        lo que hace que el sistema se mueva consistentemente más lento que el
        plástico, al tiempo que permite capturar los residuos de este material”,
        explica Boyan Slat
      </h2>
      <img src="../../static/img/ocean.jpg" alt="" class="img1" />
      <p>
        El arrastre generado por la “falda” actúa también como una fuerza
        estabilizadora que permite que el sistema se reoriente cuando el viento
        cambia de dirección. Equipado con luces alimentadas por energía solar,
        sistemas anticolisión, cámaras, sensores y antenas satelitales, el
        sistema comunica activamente su posición y reúne continuamente datos.
        Una embarcación (un camión de basuras marino) recogerá el cargamento
        acumulado cada seis-ocho semanas. Una vez en tierra, ese plástico se
        procesará, clasificará y reciclará para crear otros productos.
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/O1EAeNdTFHU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  </body>
</html>
