<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Expo tecno arte 2022</title>

    <link rel="stylesheet" href="../../static/css/credits/credits.css">
    <link rel="stylesheet" href="../../static/css/nav/nav.css">
</head>
<body>
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
    
    <!--Nav var-->
    <nav id="nav">
        <h1 id="Ntitle">Expo tecno</h1>
        <a href="/ExpoPage" id="lnk">Inicio</a>
        <a href="/ExpoPage/#2"id="lnk">Datos</a>
        <a href="templates/CREDITS/"id="lnk">creditos</a>
    </nav>
    <!----------->


    
    <div id="particles-js">
    </div>
        <div class="container int">
            <div class="texts">
                <h2 id="text_1">Esta pagina ha sido programada desde su inicio</h2>
                <h2 id="text_2">por el estudiante Francisco Barreneche,</h2>
                <h2 id="text_3">en colaboracion para la expo tecno arte 2022</h2>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="../../js/creditsParticles.js"></script>
    <script src="../../js/navAnimations.js"></script>
</body>
</html>