
.subir{
    position: fixed;
    display: block;
}

.subir{
    background-color:rgb(107, 214, 0);
    text-decoration: none;
    border-radius: 1000px;
    color: transparent;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;

}

.subir{
    margin-left: 640px;
    margin-top: 280px;
}