<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Expo tecno arte 2022</title>

    <link rel="stylesheet" href="../../static/css/SB/SB.css" />
    <link rel="stylesheet" href="../../static/css/queris/queris.css" />
    <link rel="stylesheet" href="../../static/css/nav/nav.css" />
  </head>
  <body>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>

    <!--Nav var-->
    <nav>
      <h1>Expo tec</h1>
      <a href="/ExpoPage">Inicio</a>
      <a href="/ExpoPage/#2">Datos</a>
      <a href="/ExpoPage/templates/CREDITS/">creditos</a>
    </nav>
    <!----------->

    <div class="baner">
      <h2>Salvando los Bosques con Tecnología</h2>
    </div>

    <div class="content">
      <h2>Reforestando Bosques Con Robotica</h2>
      <p>
        El fabricante de robots Milrem Robotics y la Universidad de Tartu
        (Estonia) han colaborado para desarrollar dos tipos de robots forestales
        autónomos que podrían plantar miles de árboles al día. Los robots se
        basan en la gama de vehículos terrestres autónomos de la empresa.
      </p>
      <p>
        Uno de los robots es una plantadora, llamada Multiscope Forester
        Planter, que está equipada con una carga útil de plantación modular con
        capacidad para 380 plantones. Su velocidad de plantación es de unas 5-7
        horas por hectárea, dependiendo de la especie de árbol y del terreno.
        También registra la ubicación exacta de cada árbol.
      </p>
      <img
        src="../../static/img/multiscope-forester-planter1.jpg"
        alt=""
        class="img1"
      />
      <p>
        El otro de los dos robots forestales, el Robotic Forester Brushcutter,
        está equipado con una unidad de potencia hidráulica, una herramienta de
        desbroce y los sensores necesarios para el movimiento de la herramienta,
        puede eliminar la vegetación alrededor de los plantones.
      </p>
      <p>
        El robot se ha diseñado para ser resistente y duradero en entornos
        difíciles como las zonas de desbroce. El mismo sistema puede utilizarse
        con otras aplicaciones para el mantenimiento de líneas eléctricas,
        mantenimiento de bordes de carreteras, etc…
      </p>
      <img
        src="../../static/img/multiscope-forester-planter2.jpg"
        alt=""
        class="img1"
      />
      <p>
        Los robots forestales tienen el tamaño de un coche pequeño y pesan
        alrededor de una tonelada. Ambos miden 240 cm de largo, 200 cm de ancho
        y 115 cm de alto, y pueden alcanzar una velocidad máxima de 20 km/h.
      </p>
      <p>
        Su sistema de navegación usa sistemas de posicionamiento global, cámaras
        y LiDAR basados en láser. El LiDAR produce una representación geométrica
        tridimensional del entorno, mientras que las imágenes de la cámara de
        alta resolución rellenan los espacios en blanco. Todos los datos se
        combinan en tiempo real, complementándose entre sí y haciendo posible
        que los robots forestales se conduzcan de forma autónoma en un bosque.
        Las cámaras también se usan para el reconocimiento de imágenes y
        proporcionan una pantalla visual para el operador si necesita dirigir el
        robot a distancia.
      </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  </body>
</html>
