:root{
    --paddingSections: 60px 0;
    --marginElements: 40px;
}

body{
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(240, 219, 194);
    margin: 0px;
    scroll-behavior: smooth;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingSections);
}


/*Menu de navegacion*/
.menu-navegacion{
    padding: 0;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 219, 194);
    height: 70px;
    width: 100%;
    box-shadow: 0px 0px 10px 1px;
}


.logo {
    height: 90px;
}


.links li{
    list-style: none;
    display: inline-block;
}


.links a{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 20px;
    color: #000;
}

.links a:hover{
    color: #7d7d7d;
}






/*Bread*/
.bread{
    height: 370px;
    background-color: burlywood;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../img/15.png');
    transition: 0.5s;
}





/*Hero*/

.hero{
    height: 500px;
    background-color: rgb(12, 12, 12);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container-text{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:aliceblue;
}


.container-text h1{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

.hero p{
    font-size: 15px;
    font-weight: 500;
}



.button{
    display: block;
    margin:  0 auto;
    text-decoration: none;
    padding: 15px 0;
    font-size: 25px;
    border-radius: 15%;
/*    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    background-color: rgb(255, 217, 201);
    color: rgb(50, 50, 50);
}


.button{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
    color: rgb(0, 0, 0);
    background:rgb(255, 217, 201);
    padding: 7px 20px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 100px;
    margin: 10px 5px;

    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
 











/*description*/
.vent-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(240, 219, 194);
    box-shadow: 1px 1px 15px 0px;
    text-align: center;
}

.vent-container h4{
    margin-bottom: 25%;
    color: rgba(0, 0, 0, 0.687);
    padding: 15px;
    font-size: 20px;
    background-color: rgb(218, 193, 163);
}

.vent-container{
    height: 300px;
    background-image: url('../img/4.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 5%;

}


/*container de la ubicacion*/
.body-container{
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: antiquewhite;
    height: 55%;
    padding-bottom: 50px;
}

.body-container h2{
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    background-color: antiquewhite;
}


.ubi-container iframe{
    margin-left: 60px;
    box-shadow: 0px 0px 30px 0px;
}


/*contacto*/
.contacto{
    margin-left: 22%;
    margin-top: 20px;
    height: 300px;
    width: 210px;
    background-color: rgb(218, 193, 163);
    box-shadow: 5px 10px 20px 0px;
    text-align: center;
}

.contacto img {
    margin-left: 0%;
    margin-top: 20px;
    border-radius: 50px;
    width: 100px;
}

.contacto h3{
    font-size: 17px;
    color:beige;
}


/*footer*/
footer{
    display: flex;
    height: 200px;
    box-shadow: 0px 0px 10px 0.01px;
}



.logoUbi img{
    width: 200px;
}





.redes{
    display: flex;
    align-items:flex-start;
    height: 200px;
    width: 1400px;
}


footer h4{
    position: relative;
    display: inline-block;
    font-size: 13px;
    margin-left: 5%;
}

.insta{
    position: absolute;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-top: 50px;
}

.insta a img{
    margin-top: 20px;
    width: 40px;
}

.insta a{
    font-size: 13px;
    text-decoration: none;
    color: #000;
}





.derechos{
    font-size: 10px;
    margin-top: 12%;
    margin-left: 20%;
}










@media (max-width: 700px) {
    .logo {
        height: 70px;
    }
    
    .logoUbi img{
        width: 100px;
    }

    .derechos{
        position: absolute;
        font-size: 8px;
        margin-top: 180px;
        margin-left: 240px;
        
    }
}