

/*Body content*/
body{
    background-color: black;
    font-family: 'Bebas-Regular';
    color: white;
    margin: 0px;
}

.container{
    display: flex;
    height: 655px;
    justify-content: flex-start;
    align-items: flex-end;
    background-size: cover;
}

.int{
    background-image: url('../../img/space.webp');
}

._1{
    background-image: url('../../img/multiscope-forester-planter.png');
}

._2{
    background-image: url('../../img/slowBot2.jpg');
    background-position: 0px -140px;
}

._3{
    background-image: url('../../img/cleanO.png');
}

._4{
    background-image: url('../../img/3.webp');
}





.container .texts{
    height: 310px;
    width: 545px;
    margin-left: 45px;
    margin-bottom: 100px;
    letter-spacing: 4px;
    /* background-color: antiquewhite; */
}

.container .texts h2{
    font-size: 50px;
    color:rgb(255, 255, 255);
}

.container .texts a{
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color:white;
    padding: 17px 27px 17px 27px;
    border: solid 2px;
}



footer{
    display: flex;
    height: 150px;
    align-items: flex-start;
}

footer a{
    margin-left: 50px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}




/* media queris */

@media (max-width: 360px) {

    .container{
        height: 655px;
        background-position: -150px;
    }

    .int{
        background-position: -590px;
    }
    ._4{
        background-position: -590px;
    }
    .container .texts h2{
        font-size: 40px;
    }




}



